        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <h1 class="mb-0">HandsFull 🤗</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" href="caracteristicas.html">¿Quiénes somos?</a></li>
                        <li class="nav-item"><a class="nav-link" href="como-funciona.html">¿Cómo funciona?</a></li>
                        <li class="nav-item"><a class="nav-link" href="diccionario.html">Guía de señas</a></li>
                        <li class="nav-item"><a class="nav-link" href="demo.html">Demo</a></li>
                    </ul>
                </div>
            </div>
        </nav>